/* Styles for SemperteguiComponent */
:host {
    --content-padding: 20px;
    --primary-color:#1c2e38;
    --secondary-color: #fbe2a7;
    --accent-color: #c67b96;
    --shadow-color: #f3e3ea; 
}

h2 { color: #2a6f97; }

header {
  padding: var(--content-padding);
  height: 70px;
  box-shadow: 0px 5px 25px var(--accent-color);
  background-color: var(--shadow-color);
  background-image: url('/sempertegui/logoAriel.png');
  background-repeat: no-repeat;
  text-align: center;
}

img{
  width: 50px;
  height: 50px;
}